<div class="navtabs-container">
    <nav mat-tab-nav-bar>
        <span class="toolbar-flex"></span>
         <mat-tab-group>
             <mat-tab label="Hello1"></mat-tab>
             <mat-tab label="Hello2"></mat-tab>
             <mat-tab label="Hello3"></mat-tab>
             <mat-tab label="Hello4"></mat-tab>
             <mat-tab label="Hello5"></mat-tab>
             <mat-tab label="Hello6"></mat-tab>
         </mat-tab-group>
         <span class="toolbar-flex"></span>
    </nav>
</div>